.nav-links ul li a ,.sign a{
	color: #ffffff;
	/** #ffffff ngjyra e bardhe e menuve*/
	text-decoration: none;
	font-size: 14px;
}

/*.sign a{
	color: #ffffff;
	text-decoration: none; *heq nenvizimin e link-ut*
	font-size: 14px;
}*/

.nav-links ul li::after, .sign a::after{
	/**kjo ben vizat e kuqe poshte menuve */
	content: '';
	width: 0%; /**nga 100% e beme 0% ne menyre qe vija e kuqe te jete e fshehur */
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.nav-links ul li:hover::after, .sign a:hover::after{
	width: 100%;
}


.nav-links ul li a.active::after{
	content: '';
	width: 100%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
}

.categories {
    margin-top: 4%;
}
.categories-header{
    padding-top:4%;
}
/* #categories {
    background-image: url('../images/categories.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
} */

#romance,
#komedi,
#thriller,
#aventure,
#BestSeller,
#historik,
#mister,
#fantazi
 {
    width: 350px;
    height: 250px;
    background-size: cover;
    background-position: center;
    display: flex;
    margin-right: 10px;
}

#thriller {
    background-image: url('../images/thriller.jpg');
}

#aventure {
    background-image: url('../images/aventure.webp'); 
}

#BestSeller {
    background-image: url('../images/BestSeller.jpg');
}

#romance {
    background-image: url('../images/romance.webp');
}

#komedi {
    background-image: url('../images/komedi.jpg');
}

#historik {
    background-image: url('../images/historik.jpg');
}

#mister {
    background-image: url('../images/mister.jpg');
}

#fantazi {
    background-image: url('../images/fantazi.png');
}
.liber {
    max-width: 800px; /* Adjust the value based on your preference */
    margin: 0 auto;   /* Center the content */
    padding: 10px;    /* Add some padding for better readability */
}
.detajLiber{
    padding-top: 50px;
}
.coverthumb {
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-right: 5px;
    width: 50px;
    height: 60px;
   
}
.title {
	text-align: left;
	font-weight: bold;
}
